name: Test Docker Image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test_dcoker_image:
    runs-on: ubuntu-latest
    env:
      TEST_IMAGE_TAG: image:${{ github.sha }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build test image
      uses: docker/build-push-action@v5
      with:
        context: .
        load: true
        tags: ${{ env.TEST_IMAGE_TAG }}

    - name: Test
      uses: brpaz/structure-tests-action@1.4.0
      with:
        image: ${{ env.TEST_IMAGE_TAG }}
        configFile: docker-test.yml
